<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-roger-radio-player" version="0.0.1">
    <name>RogerRadioPlayerPlugin</name>

    <description>An Android Cordova plugin for Roger Radio Player.</description>
    <license>MIT</license>

    <keywords>cordova,audio</keywords>
    <repo>https://github.com/TheHolyRogerCoin/RogerRadioApp.git</repo>
    <issue>https://github.com/TheHolyRogerCoin/RogerRadioApp/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/cordova-plugin-roger-radio-player.js" name="cordova-plugin-roger-radio-player">
        <clobbers target="cordova.plugins.rogerRadioPlayer" />
        <clobbers target="plugin.rogerRadioPlayer" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RogerRadioPlayer">
                <param name="android-package" value="com.theholyroger.RogerRadioPlayer.RogerRadioPlayer"/>
            </feature>
        </config-file>
        <source-file src="src/android/RogerRadioConfig.java" target-dir="src/com/theholyroger/RogerRadioConfig/" />
        <source-file src="src/android/WSProcessor.java" target-dir="src/com/theholyroger/WSProcessor/" />
        <source-file src="src/android/WSClient.java" target-dir="src/com/theholyroger/WSClient/" />
        <source-file src="src/android/RogerRadioPlayer.java" target-dir="src/com/theholyroger/RogerRadioPlayer/" />
        <framework src="src/android/RogerRadioPlayer.gradle" custom="true" type="gradleReference"/>
    </platform>

</plugin>